.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;

}

.header {
  display: flex;
  flex-direction: column;
  background: url("../../assets/fondo.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}

.navigation {
  display: flex;
  justify-content: center; 
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    &:hover {
      color: #d2d2d2; 
    }
  }
}

.headerContent {
  text-align: center;
  padding: 2rem;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}

.buttonContainer {
  button {
    background-color: #424242; 
    color: #fff;
    border: 1px solid #fff; 
    padding: 0.75rem 1.5rem; 
    margin: 0 10px; 
    font-weight: bold;
    &:hover {
      background-color: #303030; 
    }
  }
}

.mainContent {
  width: 50%; 
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; 
}


.productShowcase {
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.flowerBox {
width: 200px;  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .flowerImage {
    width: 100%; 
    height: auto;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  .flowerText {
    padding: 1rem; 
  }
}

@media (max-width: 768px) {
  .flowerBox {
    width: 100%;
  }
}

// Dentro de page.module.scss
.footer {
  padding: 2rem;
  background: #424242; 
  color: #fff;
  text-align: center; 
}

