.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  //  background: url("../../assets/fondoTodo.png") no-repeat center center;
  // background-size: cover;
  background-color: #101010;
}
.button {
  display: flex;
  justify-content: center;
  background: transparent; 
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  border: none;
  box-shadow: none;
  outline: none; 
  text-shadow: none;
}
.buttonFooter {
  display: flex;
  justify-content: center;
  background: transparent; 
    font-size: medium;

  color: #fff;
  text-decoration: none;
  // margin: 0 50px;
  border: none;
  box-shadow: none;
  outline: none; 
  text-shadow: none;
  padding: 10px;

}

.buttonFooter:hover {
  color: #d2d2d2;
  background: transparent; /* Asegurarse de que el fondo también es transparente en hover */
  box-shadow: none; /* Asegurarse de que no hay sombras en hover */
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: url("../../assets/fondo.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1rem;
  flex-direction: column;
}

.logoAndTitle {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.socialMediaButtons {
}

.title {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: 200px;
  width: 60%;
}

.imageScrollContainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  cursor: grab;
  width: 50%;

  &::-webkit-scrollbar {
    display: none;
  }
  &:active {
    cursor: grabbing;
  }

  .scrollItem {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 10px;
    scroll-snap-align: start;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.rightHeader {
  display: flex;
  align-items: center;

  button {
    margin-left: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  background: rgba(0, 0, 0, 1);
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    &:hover {
      color: #d2d2d2;
    }
  }
}

.headerContent {
  text-align: center;
  padding: 2rem;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
  }
}
.animatedText {
  width: 70%;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  font-weight:400;
  font-size: medium;
}
.animatedTextTop{
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #fff;
  font-weight:100;
  font-size: large;
  border-radius: 5px;
}
.buttonContainer {
  button {
    background-color: #424242;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.75rem 1.5rem;
    margin: 0 10px;
    font-weight: bold;
    &:hover {
      background-color: #303030;
    }
  }
}

.mainContent {
  width: 50%;
  padding: 2rem;
  height: 100%;
     background: rgba(0, 0, 0, 0.5);
     margin-top: 50px;

}

.productShowcase {
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flowerSection {
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.flowerBox {
  width: 200px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  &:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

  .flowerImage {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
  }

  .flowerText {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .flowerBox {
    width: 100%;
  }
}
.header{ padding: 50px;}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30%;
  color: #fff;
  text-align: center;
}
