.pageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  background: url("../../assets/fondo.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}

.navigation {
  display: flex;
  justify-content: center; // Centra los enlaces de navegación
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7); // Fondo oscuro semitransparente
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px; // Añade espacio horizontal entre enlaces
    &:hover {
      color: #d2d2d2; // Cambio de color al pasar el ratón por encima
    }
  }
}

.headerContent {
  text-align: center; // Centra el contenido del encabezado
  padding: 2rem;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem; // Aumenta el espacio bajo el párrafo
  }
}

.buttonContainer {
  button {
    background-color: #424242; // Un gris oscuro para el fondo del botón
    color: #fff;
    border: 1px solid #fff; // Añade borde blanco
    padding: 0.75rem 1.5rem; // Aumenta el relleno para botones más grandes
    margin: 0 10px; // Espacio entre botones
    font-weight: bold;
    &:hover {
      background-color: #303030; // Oscurece el botón al pasar el ratón por encima
    }
  }
}

.mainContent {
  padding: 2rem;
}

.productShowcase {
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

// Dentro de page.module.scss
.flowerSection {
  justify-content: space-between; // Asegúrate de que haya espacio alrededor de cada caja
  flex-wrap: wrap;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.flowerBox {
  width: calc(33.333% - 20px); // Tres cajas por fila con espacio entre ellas
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añade sombra para resaltar las cajas
  transition: transform 0.3s ease; // Suaviza la transición del hover
  display: flex;
  flex-direction: row;
  &:hover {
    transform: translateY(-5px); // Eleva la caja al pasar el ratón por encima
    cursor: pointer; // Cambia el cursor para indicar interactividad
  }

  .flowerImage {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease; // Suaviza la transición de opacidad
    &:hover {
      opacity: 0.8; // Hace la imagen ligeramente transparente al pasar el ratón por encima
    }
  }

  .flowerText {
    padding: 1rem; // Añade relleno alrededor del texto
  }
}


.flowerText {
}

// Dentro de page.module.scss
.footer {
  padding: 2rem;
  background: #424242; // Un fondo oscuro para el pie de página
  color: #fff;
  text-align: center; // Centra el contenido del pie de página
}

