.matchStatsSection {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.matchStatRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 10px;
}

.statsContainer {
  display: flex;
  gap: 10px;
}

.winLetter {
  background-color: #F5E2A0; 
  color: #323232;
}

.lossLetter {
  background-color: #97577D; 
    color: #F5E2A0;

}
.matchType{
  margin-top: 5px;
}
.drawLetter {
  background-color: #323232; 
  color: #F5E2A0;
}
.image {
	width: 50px;
  height: 50px;
}
.Letter {
  width: 40px;
  height: 46px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}
.matchTypeContainer {
  color: #F5E2A0;
  font-size: x-large;
}